
<nav class="navbar">
    <a routerLink="''" (click)="filterGame('all')">
        <p class="webpageTitle">UVEG Games</p>
    </a>

    <ul>
        <li (click)="filterGame('famous')">Más Populares</li>
        <li (click)="filterGame('downloaded')">Más Descargados</li>
        <li (click)="filterGame('coming')">Proximamente</li>
        <li><a href="" routerLink="add-game">Agregar</a></li>
    </ul>
    <div><button mat-raised-button color="primary" (click)="onLogOut()">Salir</button></div>

</nav>



